
/* CSS for ButtonAppBar */
body{
  overflow-x:hidden;
  font-family: 'Cabinet Grotesk', sans-serif;
                                                
}
.app{
  font-family: 'Cabinet Grotesk', sans-serif;
                                                
}
p{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-family: 'Cabinet Grotesk', sans-serif;
                                                
}
/* Common styles for both desktop and mobile */
.appbar {
  background-color: rgba(0, 0, 0, 0.5); /* Use rgba to set the background color with opacity */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Make sure it appears above other content */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  width: 18px; /* Adjust the width to make the logo smaller */
  height: 18px; /* Adjust the height proportionally */
  margin-right: 10px;
}

.logo-text {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff; /* White text color */
}


/* End of ButtonAppBar Style */

/* CSS for ImageSlider */
/* Base styles */
/* Base styles */
.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  
}

.image {
  filter: brightness(80%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  object-fit: cover;
  animation: fadeIn 3s;
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.image-slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: rgba(9, 79, 177, 0.6); /* Blue transparent overlay */
}

/* Center the content within the image */
.slide-content {
  position: absolute;
  top: 50%;
  left: 2%; /* Adjust the left gap as needed */
  transform: translateY(-50%);
  text-align: left; /* Adjust text alignment as needed */
  color: #fff;
  z-index: 1;
  max-width: 80%; /* Limit text width to avoid overflowing */
}

/* Styles for text content */
.slide-title {
  font-size: 60px;
  line-height:90%;
  margin-bottom: 10px; /* Add spacing between elements */
}

.slide-about,
.slide-text {
  font-size: 20px;
  margin-bottom: 10px; /* Add spacing between elements */
}

/* Pagination Dot Style */
.carousel_pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.pagination_dot {
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  z-index: 2;
}

.pagination_dot-active {
  background-color: rgb(14, 103, 29);
}

@media screen and (max-width: 1180px) {
  /* Adjust styles for screens up to 480px wide (typical mobile size) */
  .slide-content {
    left: 5%; /* Increase left gap for smaller screens */
  }
  
  /* Override font size for text content to match the desktop version */
  .slide-title {
    font-size: 20px; /* Restore font size for the title on smaller screens */
    width: 100%;
  }

  .slide-about,
  .slide-text {
    font-size: 12px; /* Restore font size for other text content on smaller screens */
    width: 100%;

  }
  .image-slider-overlay{
    width: 100%;
  }
}

/* End of Pagination Dot style */

/* About css */
/* Base styles */
.about-section {
  background: #ffffff;
  z-index: 3;
  padding-left: 2%;
  padding-bottom: 20px;
}

.about-content {
  display: flex;
  align-items: center;
  flex-direction: column; /* Adjust for better stacking on small screens */
  text-align: center; /* Center align text content on small screens */
}

/* Make the left side content left-aligned */
.about-content-left {
  text-align: left;
}

/* Add space around the heading and text */
.about-heading {
  line-height: 95%;
  margin-bottom: 20px !important;
  font-size: 60px; /* Adjust font size for smaller screens */
}

.about-text {
  margin-bottom: 20px !important;
  font-size: 16px; /* Adjust font size for smaller screens */
}

/* Add space between buttons */
.about-button1,
.about-button2 {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px !important;
  margin-bottom: 40px !important;
  font-size: 16px; /* Adjust font size for smaller screens */
}
.about-image{
  margin-top: 20%;
}
.about-divider{
  width: 98%;
}
/* Media Queries for Smaller Screens (e.g., Mobile) */
@media screen and (max-width: 1180px) {
  .about-heading {
    font-size: 24px;
  }

  .about-text {
    font-size: 12px;
  }

  .about-button1,
  .about-button2 {
    font-size: 10px;
  }
  .about-content-left {
    padding-left: 5%; /* Adjust left padding for small screens */
  }
  .about-image{
    width: 100%;
  }
  .about-divider{
    width: 98%;
  }
}

/* OurServices css */

.our-services {
  background-color: #ffffff;
  margin-top: 100px;
}

.service-button1{
  margin-bottom: 20px !important;
}


/* Default styles for all screen sizes */
.service {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.service-number {
  width: 40px;
  height: 30px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 40px;
  border: 2px solid black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.service-text {
  flex: 1;
  text-align: right;
  font-size: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.service-divider {
  border: none;
  border-top: 2px solid #8a8989;
  margin: 0;
  width: 100%;
  margin-bottom: 20px;

}

.hover-image {
  display: none;
}

.service:hover .hover-image {
  display: block;
  background-size: cover;
  position: absolute;
  right: 20%;
  cursor: pointer;
}

.circular-image {
  border-radius: 100%;
  width: 220px;
  height: 220px;
}

/* Media queries for responsiveness */
@media (max-width: 1100px) {
  /* Styles for screens with a maximum width of 600px (e.g., mobile devices) */
  .service {
    flex-direction: row; /* Stack items vertically */
    align-items: flex-start;
    align-items: center;
  }

  .service-number {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .service-text {
    text-align: left;
    font-size: 18px;
    margin-left: 0;
    margin-right: 0;
  }
}

.service-button2{
  margin-top: 80px !important;
}
/* End of OurServices css */

/* Signup css */
.signup-section {
  background: #ffffff;
  z-index: 3;
  padding-left: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.signup-content {
  display: flex;
  align-items: center;
}

/* Add space around the heading and text */
.signup-heading {
  margin-bottom: 50px !important; /* Adjust as needed */
}

.signup-text {
  margin-bottom: 20px !important;
  margin-left: 80px !important;
  margin-right: 80px !important;
}

/* Add space between buttons */
.signup-button1,
.signup-button2 {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px !important;
  margin-bottom: 40px !important;
}

.signup-image {
  margin-top: -20%;
  max-width: 80%;
  height: auto;
}

/* Media queries for responsiveness */
@media (max-width: 1100px) {
  .signup-content {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center content on smaller screens */
    text-align: left; /* Center text on smaller screens */
    margin-left: 5% !important;
  }


  .signup-text {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  .signup-button2 {
    margin-bottom: 60% !important; /* Adjust bottom spacing for better alignment */
  }
}

/* End of signup */

/* css for clients */
.clients-text{
  color: #121212;
  line-height: 95%;
  font-size: 60px;
  margin-bottom: 50px !important;
}
@media (max-width: 1100px){
  .clients-quote{
    font-size: 14px;
  }
  .clients-text{
  color: #121212;
  margin-left: 5% !important;
  font-size: 30px;
  }
  .avatar-content{
    margin-left: 5%;
  }
}


/* Logo slider container style */
.logo-slider-container {
  margin-bottom: 25px;
  overflow: hidden;
}

/* Logo slider style with animation */
.logo-slider {
  white-space: nowrap;
  display: flex;
  width: 200%; /* Adjust the width based on the number of logos you have (9 logos => 900%) */
  animation: slide 10s linear infinite; /* Adjust the animation duration as needed */
}

/* Logo item style */
.logo-item {
  flex: 0 0 auto;
  
  width: calc(100% / 9); /* Adjust the width based on the number of logos you have */
}

/* Keyframes animation for sliding */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Move by the full width to slide logos continuously */
  }
}



/* Logo slider container style for the second slider */
.logo-slider2-container {
  width: 100%;
  overflow: hidden;
}

/* Logo slider style with animation for the second slider */
.logo-slider2 {
  display: flex;
  width: 200%; /* Adjust the width based on the number of logos you have (10 logos => 200%) */
  animation: slide2 10s linear infinite; /* Adjust the animation duration as needed */
}

/* Logo item style for the second slider */
.logo-item2 {
  flex: 0 0 calc(10% - 20px); /* Adjust the width based on the number of logos you have */
  width: calc(10% - 20px); /* Adjust the width based on the number of logos you have */
  margin-right: 10px; /* Adjust the spacing between logos */
}

/* Keyframes animation for sliding for the second slider */
/* Keyframes animation for sliding for the second slider */
@keyframes slide2 {
  0% {
    transform: translateX(-100%); /* Move from left to right */
  }
  100% {
    transform: translateX(0); /* Move back to the original position */
  }
}

/* Media queries for responsiveness */
@media (max-width: 1100px) {
  /* Adjust the width and spacing for smaller screens */
  .logo-slider,.logo-slider2 {
    width: 900%; /* Adjust the width for smaller screens (3 logos in a row) */
  }
  
  .logo-item,.logo-item2 {
    width: calc(100% / 9); /* Adjust the width for smaller screens (3 logos in a row) */
    margin-right: 5px; /* Adjust the spacing between logos for smaller screens */
  }
}
/* End of clients css */

/* css for blog */
.blog-section {
  background: #ffffff;
  z-index: 3;
  padding-left: 2%;
  padding-bottom: 20px; /* Add bottom spacing */
}
.blogs-text{
  font-size: 57px;
}
.blog-heading{
  font-size: 40px;
}
.blog-divider{
  border: none;
      border-top: 2px solid #c0bebe; /* Adjust the color and thickness as needed */
      margin: 0; /* Add margin for spacing */
      width: 94%;
      margin-left: 2%;
    }
    .blogs-button1{
      margin:70px 0 70px 660px !important;
    }
@media(max-width:1100px){
  .blog-section{
    margin-left: 5% !important;
  }
  .blogs-text{
    margin-left: 5% !important;
    font-size: 36px;
    margin-bottom: -20%;
  } 
  .blog-divider{
    width: 92%;
  }
  .blog-img{
    width: 90%;
  }
  .blog-heading{
    font-size: 24px;
    width: 90%;
    margin-bottom: -30%;

  }
  .chevron-icon {
    text-align: right;
    margin-top: -70% !important;
  }
  .blogs-button{
    margin-left: 7% !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
  }
}

/* End of blog section */

/* css for FAQ */
.our-faq {
  background-color: #ffffff;
  margin-top: 100px;
}

.faq-button1{
  margin-bottom: 20px !important;
}


/* Default styles for all screen sizes */
.faq {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.faq-number {
  width: 40px;
  height: 30px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 40px;
  border: 2px solid black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.faq-text {
  flex: 1;
  text-align: right;
  font-size: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.faq-text-1{
  font-size: 40px;
}

.faq-divider {
  margin-bottom:20px !important ;
  border: none;
  border-top: 2px solid #8a8989;
  margin: 0;
  width: 100%; 
}

/* Media queries for responsiveness */
@media (max-width: 1100px) {
  /* Styles for screens with a maximum width of 600px (e.g., mobile devices) */
  p{
    font-size: 10px;
  }
  .faq {
    flex-direction: row; /* Stack items vertically */
    align-items: flex-start;
    align-items: center;
  }

  .faq-number {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .faq-text {
    text-align: left;
    font-size: 14px;
    margin-left: 0;
    margin-right: 0;
  }
  .faq-text-1{
    font-size: 14px;
    width: 80%; 
  }
  .faq-1{
    width: 80%;
  }
}

.faq-button2{
  margin-top: 80px !important;
}

/* End of faq css */

/* Define the styles for the footer */
.footer {
  background-color: #03034dcc;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Create the animation for moving text */
.moving-text-container {
  white-space: nowrap;
  overflow: hidden;
}

.moving-text {
  display: inline-block;
  animation: 10s slide infinite linear;
  font-size: 80px;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Style the text row */
.text-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* Adjust the gap between text elements */
  margin-bottom: 80px;
}

/* Style the text elements */
/* Default styles for all screen sizes */
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 600px;
}

.footer-logo img {
  width: 18px; /* Adjust the width to make the logo smaller */
  height: 18px; /* Adjust the height proportionally */
  margin-right: 10px;
}

.footer-logo-text {
  text-transform: uppercase;
  margin-top: 1%;
  color: #fff; /* White text color */
}
.footer-divider {
  border: none;
  border-top: 2px solid #c0bebe;
  margin: 0;
  width: 94%;
  margin-left: 2%;
}

.copyright-footer {
  color: white;
  padding: 20px 60px 10px 40px;
  margin-bottom: -20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the copyright text */
.copyright {
  font-size: 12px;
}

/* Style the right-side text elements */
.footer-right {
  display: flex;
  gap: 20px;
}

/* Style the text elements */
.footer-text {
  color: white;
  font-size: 14px;
  text-decoration: none !important;
}

/* Style the text elements on hover (optional) */
.footer-text:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* Media queries for responsiveness */
@media (max-width: 1100px) {
  .moving-text {
    animation: moveText 3s linear infinite;
    font-size: 30px;
    overflow-x:visible;
  }
  .copyright-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-right {
    margin-top: 10px;
  }
 .footer-logo{
  margin-left: 30%;
 }
  
}
/* End of footer css */

/* css for mainmenu */
.image-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/public/home/hero_img1.png'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 38, 133, 0.9); /* Blue transparent overlay */
}

.content-container {
  position: relative;
  z-index: 1; /* Place content above the overlay */
}

.content {
  padding: 20px;
  background-color: white;
}

.image-container{
  position: absolute;
  display: none;
  top: 10%;
  left: 65%;
  width: 130px;
  height: 130px;
  z-index: -1;
}
.button-container {
  display: inline-block;
}
.button-container:hover + .image-container,
.image-container:hover {
  display: block;
}

/* Media queries for small screens */
@media (max-width: 1100px) {
  .image-page {
width: 100%;
height: 100%;   
  }

  .image-overlay {
    background-color: rgba(35, 38, 133, 0.7); /* Adjust overlay opacity */
  }
  .btn-mainmenu{
    font-size: 20px !important;
  }
  .new-patients {
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
  }

  .content {
    padding: 10px; /* Reduce padding for small screens */
  }
}
/* End of Mainmenu css */